*{
    margin: 0;
}
body{
  /*  font-family: 'Edu SA Beginner', cursive;*/
    background-color: aqua;
   
}
header{
    background-color: rgb(245, 32, 3);
    padding: 10px;
    color: rgb(253, 252, 252);
    text-align: center;
    font-size: 25px;
    width: 450px;
}

main{
    
    padding: 30px 50px;

}
th{
    padding: 10px 10px;
    border-radius: 5px;

}
td{
    text-align: center;
    border-radius: 5px;
    width: 70px;
    padding: 10px 10px;
}
.sabat{
    background-color: rgb(245, 24, 24);
    border-radius: 5px;
    color: aliceblue;
}
.content{
    background-color: aqua;
    width: 350px;
    height: 300px;
}
.mes{
    background-color: rgb(240, 58, 45);
    color: antiquewhite;
    text-align: center;
    width: 350px;
    font-size: 20px;
    height: 25px;
}
.dom{
    background-color: rgb(245, 230, 148);
   
}
button{
    margin-top: 20px;
    width: 50px;
    height: 30px;
    margin-left: 30px;
}
.receb{
    margin-left: 20px;
}
.recebg{
    margin-left: 30px;
    margin-top: -40px;
}
.selec{
    height: 30px;
    font-size: 20px;
}
#solit{
    height: 30px;
    font-size: 20px;  
}
.seletion{
    height: 150px;
   width: 450px;
    margin-left: 20px;
}